.toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.3125rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;

  input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  .palette {
    font-size: 2rem;
    cursor: pointer;
  }
  .undo {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
